/* You can add global styles to this file, and also import other style files */

.responsive-flex-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  font-family: sans-serif;
}